android
ios
.*
node_modules
.idea
test
.travis.yml
.npmignore
.gitignore
coverage
CHANGELOG.md
LICENSE
.eslintignore
.eslintrc
.editorconfig
.babelrc
index.android.js
index.ios.js
.vscode

validate-commit-msg.js
tsconfig.json
compile.js